{% extends "main.html" %}

{% block header_title %}About{% endblock %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-2">Sobre mí</h1>
        <p class="text-lg leading-relaxed mb-4">Profesional artista visual interesado en la intersección entre tecnología, creatividad y marketing con amplia experiencia en la creación, planificación y ejecución de productos digitales e interactivos para proyectos a gran escala en broadcast, live-shows, educación y marketing (dirección, ejecución, liderazgo de equipo y proyecciones presupuestarias). Desarrollando nuevas habilidades en desarrollo web y software. Comprometido con el trabajo en equipo enfocado en metas. Abierto a trasladarme.</p>
        <span class="text-lg font-bold mb-4">Contactame en <a href="https://www.creativerafa.com" target="_blank" rel="noopener noreferrer"> Creativerafa.com</a></span>
    </div>
    {% endblock %}