{% extends "main.html" %} {% block header_title %}Lista de Fake Users{% endblock %}
{% block title %}Lista de Fake Users{% endblock %}
{% block content %}
<div class="bg-blue-100 p-4 rounded shadow hover:shadow-lg transition">
  <h2 class="font-semibold text-blue-800 mb-2">Lista de Fake Users</h2>
  <a href="{% url 'create_fake_user' %}" class="buttonMain"> Crear Fake User </a>
    {% if fake_users %}
      <table class="max-w-full">
        <thead>
          <tr>
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2">Apellido</th>
            <th class="px-4 py-2">Nombre de Usuario</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Contraseña</th>
            <th class="px-4 py-2">Teléfono</th>
            <th class="px-4 py-2">Edad</th>
          </tr>
        </thead>
        {% for fake_user in fake_users %}
          <tbody>
            <tr class="hover:bg-blue-50 transition odd:bg-blue-400">
              <td class="px-4 py-2">{{ fake_user.name }}</td>
              <td class="px-4 py-2">{{ fake_user.last_name }}</td>
              <td class="px-4 py-2">{{ fake_user.fake_username }}</td>
              <td class="px-4 py-2">{{ fake_user.email }}</td>
              <td class="px-4 py-2">{{ fake_user.password }}</td>
              <td class="px-4 py-2">{{ fake_user.phone_number }}</td>
              <td class="px-4 py-2">{{ fake_user.age }}</td>
            </tr>
            <tr>
              <td class="px-4 py-2">
                <a href="{% url 'detail_fake_user' fake_user.id %}" class="text-blue-600 hover:underline mr-2">Detalle</a>
                <a href="{% url 'update_fake_user' fake_user.id %}" class="text-blue-600 hover:underline mr-2">Actualizar</a>
                <a href="{% url 'delete_fake_user' fake_user.id %}" class="text-red-600 hover:underline">Eliminar</a>
              </td>
            </tr>
            </tbody>
          </table>
        {% endfor %}
    {% else %}
      <p>No hay Fake Users disponibles.</p>
    {% endif %}        
</div>
{% endblock %}