{% extends "main.html" %} 
{% block header_title %}Lista de Plataformas{% endblock %} {% block title %}Lista de Plataformas{% endblock %} 
{% block content %}
    <div class="bg-blue-100 p-4 rounded shadow hover:shadow-lg transition">
      <h2 class="font-semibold text-blue-800 mb-2">Lista de plataformas</h2>
      {% if test_platforms %}
      <table>
        <thead>
          <tr>
            <th class="px-4 py-2">Platform</th>
            <th class="px-4 py-2">Version</th>
          </tr>
        </thead>
        <tbody>
          {% for plat in test_platforms %}
           <tr class="hover:bg-blue-50 transition odd:bg-blue-400">
            <td class="px-4 py-2">{{ plat.name }}</td>
            <td class="px-4 py-2">{{ plat.version }}</td>
            <td class="px-4 py-2">
                <a href="{% url 'detail_platform' plat.id %}" class="text-blue-600 hover:underline mr-2">Detalle</a>
              <a href="{% url 'update_platform' plat.id %}" class="text-blue-600 hover:underline mr-2">Actualizar</a>
                <a href="{% url 'delete_platform' plat.id %}" class="text-red-600 hover:underline">Eliminar</a>
            </td>
          </tr> 
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-gray-700 text-sm">No hay plataformas disponibles.</p>
      {% endif %}
      <a href="{% url 'create_platform' %}">
        <button class="mt-2 button main hover:underline" href="{% url 'create_platform' %}">Crear Plataforma</button>
      </a>
    </div>
  
{% endblock %}
