{% extends "main.html" %}
{% block header_title %}Detalle Pregunta{% endblock %} {% block title %}Pregunta {{ question.question_text }}{% endblock %}
{% block content %}
<button type="button" class='buttonNeutral' onclick="history.back()">Atras</button>
<div class="bg-blue-100 p-4 rounded shadow hover:shadow-lg transition">
      <h2 class="font-semibold text-blue-800 mb-2">Detalle de Pregunta</h2>
      <p><strong>Pregunta:</strong> {{ question.question_text }}</p>
      <p><strong>Respuesta Esperada:</strong> {{ question.spected_answer }}</p>
      <p><strong>Captura de Referencia:</strong> 
        {% if question.reference_image%}
        <img src="{{ question.reference_image.url }}" class="max-w-40 h-auto"/>
        {% else %}
        No hay Imagen de referencia
        {% endif %}
      </p>
    </div>

{% endblock %}