{% extends "main.html" %} {% block header_title %}Lista de Tests{% endblock %} {% block title %}Lista de Tests{% endblock %} {% block content %}
<button type="button" class='buttonNeutral' onclick="history.back()">Atras</button>
<table class="h-64 w-full table-auto">
  <thead>
    <tr>
      <th>App</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>cantidad de preguntas</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for test in tests %}
    <tr>
      <td>{{ test.app.name }}</td>
      <td>{{ test.name }}</td>
      <td>{{ test.description }}</td>
      <td>{{ test.questions.count }}</td>
      <td>
        <a href="{% url 'detail_test' pk=test.id %}" class="text-blue-600 hover:underline mr-2">Ver</a>
        <a href="{% url 'update_test' pk=test.id %}" class="text-blue-600 hover:underline mr-2">Editar</a>
        <a href="{% url 'delete_test' pk=test.id %}" class="text-red-600 hover:underline">Eliminar</a>
        <a href="{% url 'detail_make_test' pk=test.id %}" class='buttonMain'>Hacer Test</a>
        <li>
          <a class="dropdown-item" href="{% url 'duplicate_test' pk=test.id %}"> 📄 Duplicar test </a>
        </li>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'create_test' %}" class="buttonMain"> Crear Test </a>
{% endblock %}
